html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
img {
  max-width: 100%;
  max-height: auto;
}
.mdl-layout__title {
	font-family: 'Roboto Mono', monospace;
}
.mdl-navigation__link {
  text-transform: uppercase;
  font-weight: 500;
}
.mdl-layout__header-row .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
  border-bottom: 4px solid;
  border-bottom-color: #448AFF; 
}
.mdl-mini-footer {
  background-color: white;
}
.personal-content {
  max-width: 900px;
  margin: auto;
}
.no-padding {
    padding: 0;
}
.fa {
  vertical-align: middle;
}
.mdl-speed-dial {
  position: fixed;
}
#icon-twitter {
  background: #1da1f2;
}
#icon-facebook {
  background: #3b5998;
}
#icon-instagram {
  background: #d93175;
}
#icon-github {
  background: #24292e;
}
#icon-vk {
  background: #7394b5;
}